body {
    font-family: 'Ubuntu', sans-serif;
}

p {
    line-height: 2rem;
}
.container-bg {
    background-color: blue;
}

.container {
padding-top: 50px;
padding-bottom: 50px;
}

h2 {
    margin-bottom: 0.5em;
    font-weight: 900;
    border-left: 5px solid #ea6813;
    padding-left: 10px;
    margin-bottom: 60px;
}

.bg-secondary {
    background-color: #ececec!important;
}


/*section.hero, .nav {
    background: linear-gradient(to right, #4568dc, #b06ab3);
}*/

section.hero{
    height: 100vh;
    background-image: url("assets/front-end-hero.jpg");
    background-size: cover;
    background-position-y: -10px;
    background-repeat: no-repeat;
}

section.hero h1, .nav ul, .nav a, .nav li{
    color: white;
    text-shadow: 2px 2px 8px black;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
}
.nav ul, .nav a, .nav li{
    font-weight: 300;
}

section.hero h1{
    font-weight: 600;
    padding: 60px 0px;
    line-height: 1.5em;
    visibility: hidden;
}

section.hero img {
    border-radius: 10px;
}

#contact-me i, #about-me i {
    font-size: 1.5rem;
    color: #007bff;
    margin-right: 20px;
    width: 20px;
    text-align: center;
}
footer {
    background-color: black;
}

.footer-copyright {
    color: white;
    font-size: 11px;
}

.hero::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(255, 0, 0, 0)
  )
}

#about-me img {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.tech-stack-header {
    font-weight: 900;
    color:#ea6813;
    border-left: 2px solid #ea6813;
    padding-left: 10px;
}

#tech-stack img {
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) { 
    section.hero {
    background-size: auto;
    background-position-y: -10px;
    background-repeat: no-repeat;
    }
    section.hero h1{
        font-weight: 600;
        padding: 50px 0px;
        font-size: 2em;
    }
}

@media screen and (min-width: 768px) { 
    section.hero h1{
        font-size: 5.5vh;
    }
}
.card-title {
    font-weight: 900;
}

#what-can-i-help-you .card {
    border-left: 3px solid #ea6813;
    padding-left: 10px;
}