body {
    font-family: 'Ubuntu', sans-serif;
}
.container-bg {
    background-color: blue;
}
.container {
padding-top: 50px;
padding-bottom: 50px;
}

h2 {
    border-left: 5px solid #ea6813;
    padding-left: 10px;
    margin-bottom: 60px;
    font-weight: 900;
}

.bg-secondary {
    background-color: #ececec!important;
}

section.hero, .nav {
    background: linear-gradient(to right, #4568dc, #b06ab3);
}

section.hero h1, .nav ul, .nav a, .nav li{
    color: white;
    text-shadow: 2px 2px 8px black;
}
.nav ul, .nav a, .nav li{
    font-weight: 600;
}
section.hero img {
    border-radius: 10px;
}

footer {
    background-color: black;
}

.footer-copyright {
    color: white;
    font-size: 11px;
}
.nav ul, .nav a, .nav li{
    font-weight: 300;
}
p {
    line-height: 2rem;
}

#section-three img {
    border: 1px solid black;
}